body {
  font-family: Arial;
  padding: 20px;
}
input,
select,
button,
a {
  margin: 8px;
  padding: 6px;
}
.product,
.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}
img {
  width: 100px;
}
.btn {
  background: blue;
  color: white;
  padding: 8px;
  text-decoration: none;
}
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
